# SPDX-License-Identifier: GPL-3.0-or-later
#
# SPDX-FileCopyrightText: 2023 Glenn Y. Rolland <glenux@glenux.net>
# Copyright © 2023 Glenn Y. Rolland <glenux@glenux.net>

/_*
.vagrant
bin
lib
debian/.debhelper/
debian/debhelper-build-stamp
debian/mfm
debian/mfm.substvars
