Source: mfm
Section: utils
Priority: optional
Maintainer: Glenn Y. Rolland <glenux@glenux.net>
Build-Depends: debhelper-compat (= 13), crystal, make
Standards-Version: 4.6.0
Homepage: https://code.apps.glenux.net/glenux/mfm
Vcs-Git: https://code.apps.glenux.net/glenux/mfm.git
Vcs-Browser: https://code.apps.glenux.net/glenux/mfm

Package: mfm
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple command-line helper for FUSE filesystems
 MFM is a Crystal-lang CLI designed to streamline the management of various
 FUSE filesystems, such as sshfs, gocryptfs, httpdirfs, and more. Through its
 user-friendly interface, users can effortlessly mount and unmount filesystems,
 get real-time filesystem status, and handle errors proficiently.
